.heading{
    text-align: center;
    margin-top: 150px;
}
@media screen and (min-width:606px) {
    h1{
        font-size: 2.8em;
        font-weight: 900;
       
    }
}
@media screen and (max-width:600px) {
    h1{
        font-size: 1.5rem;
        font-weight: 700;
        
    }
}
@media screen and (min-width: 606px) {
    p {
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
  
  @media screen and (max-width: 600px) {
    p {
      font-size: 0.9em;
      font-weight: 400;
    }
  }
 .butn1{
    background: rgb(193, 17, 25);
    color: white;
 }
 .input-filed{
    width: 50%;
    border: 1px solid white;
    color: white;
    line-height: 1.5rem;
    padding: 1.5rem 1rem 0.5rem;
    background-color: transparent;
 }
 
 p{
    text-align: center;
 }
 .inp{
    text-align: center;
 }
 .inp2{
  text-align: center;
  padding-top: 20px;
 margin-left: -143px;
 }

.line-area{
    
    /* padding: 12px min(10%, 6.25rem); */
    /* flex: 100%; */
}

 .line{
    width: 100%;
    border-bottom: 8px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
 }
 .content{
  text-align: left;
  margin-top: 200px;
  
 }
 
 video{
      margin-top:150px;
 }
 
 .mobile{
  margin-bottom: 200px;
  width: 100%;
  margin-left: 30px;
 }
 .img2{
  margin-top: 150px;
 }
 .child{

  text-align: left;
 }
 .heading2{
  margin-top: 20px;
  text-align: center;
 }
 .butn{
  width:95%;
  background-color: transparent;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
  height:79px;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: rgb(45,45,45);
}